<html lang="en">
<title>Result</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background: #e6e6e6">
<!--side bar -->
<nav class="sidebar collapse white animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="container row">
    <div class="col s4">
      <i class="fa fa-user-circle-o fa-5x"></i>
        </div>
        <div class="col s8 bar">
        <span>Welcome, <strong>Admin</strong></span><br>
        <a href="#" class="bar-item button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="bar-item button"><i class="fa fa-user"></i></a>
        <a href="#" class="bar-item button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="container">
    <h5>Dashboard</h5>
    </div>
    <div class="bar-block">
        <a href="/" class="bar-item button padding "><i class="fa fa-eye fa-fw"></i>  Overview</a>
        <a href="http://localhost:8080/upload" class="bar-item button padding "><i class="fa fa-pencil fa-fw"></i>  Insert</a>
        <a href="http://localhost:8080/find" class="bar-item button padding lightblue"><i class="fa fa-search fa-fw"></i>  Search</a>
        <a href="http://localhost:8080/uploadfile" class="bar-item button padding "><i class="fa fa-file fa-fw"></i>  Up Load File</a>
    </div>
    </nav>
<div class="main" style="margin-left:300px;">
    <div class="container">
<ul>
<p>Result</p>
<% if(arr.length <1){ %>
<img src="http://www.cfguide.com/images/SorryNothingFound.png">
<%}%>
<% arr.forEach(function(arrs){ %>
<li>
	<p>ID: <%= arrs.id %></p>
<br>
	<p>Content: <%= arrs.content %></p>
<br>
	<p>URL: <%= arrs.url %></p>
<br>
</li>
<%  }); %>
</ul>
</body>

</html>